Repository grakeice/nestjs-react-todoapp: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm backend exec prettier --write, pnpm backend exec eslint --fix, pnpm client exec biome check --write, pnpm backend exec prisma format

最低限サーバーサイドの実装が完了
  backend/src/items/dto/update-item.dto.ts
  backend/src/items/items.controller.ts
  backend/src/items/items.model.ts
  backend/src/items/items.service.ts
Due: pnpm backend exec prettier --write, pnpm backend exec eslint --fix

クライアントでのデータ取得
  backend/package.json
  backend/src/main.ts
  client/app/app.css
  client/app/components/TodoApp/TodoList.tsx
  client/app/components/TodoApp/core/TodoData.ts
  client/app/components/TodoApp/core/types/index.ts
  client/app/components/TodoApp/index.tsx
  client/app/root.tsx
  client/app/routes/home.tsx
  client/app/welcome/logo-dark.svg
  client/app/welcome/logo-light.svg
  client/app/welcome/welcome.tsx
  client/package.json
  pnpm-lock.yaml
Due: pnpm backend exec prettier --write, pnpm backend exec eslint --fix, pnpm client exec biome check --write

初回ロード時にデータが読み込まれるようになった
  client/app/components/TodoApp/TodoList.tsx
  client/app/components/TodoApp/index.tsx
  client/app/routes/home.tsx
Due: pnpm client exec biome check --write

dbにおけるタスクのstatusがclientに反映されるように
  client/app/components/TodoApp/TodoList.tsx
  client/app/root.tsx
Due: pnpm client exec biome check --write

rename code-workspace
  nestjs-react-todo.code-workspace
Due: none

upgrade pnpm version
  package.json
Due: none

add mise task: prisma:dev
  mise.toml
Due: none

dbにduedateのcolumnを追加
  backend/prisma/migrations/20250917010531_add_due_date_column/migration.sql
  backend/prisma/schema.prisma
  backend/src/items/dto/create-item.dto.ts
  backend/src/items/dto/update-item.dto.ts
  backend/src/items/items.service.ts
Due: pnpm backend exec prettier --write, pnpm backend exec eslint --fix, pnpm backend exec prisma format

duedateのクライアント側の実装
  client/app/components/TodoApp/TodoList.tsx
  client/app/components/TodoApp/core/TodoData.ts
  client/app/components/TodoApp/core/types/index.ts
  client/app/components/TodoApp/index.tsx
Due: pnpm client exec biome check --write

状態と説明の編集機能を追加
  client/app/components/TodoApp/Modals/EditTask.tsx
  client/app/components/TodoApp/TodoList.tsx
  client/app/components/TodoApp/core/Task.ts
  client/app/components/TodoApp/core/types/index.ts
  client/app/components/TodoApp/index.tsx
Due: pnpm client exec biome check --write

作成・編集機能の作成
  client/app/app.css
  client/app/components/TodoApp/Modals/EditTask.tsx
  client/app/components/TodoApp/TodoList.tsx
  client/app/components/TodoApp/core/Task.ts
  client/app/components/TodoApp/core/types/index.ts
  client/app/components/TodoApp/index.tsx
  client/app/components/ui/button.tsx
  client/app/components/ui/calendar.tsx
  client/app/components/ui/checkbox.tsx
  client/app/components/ui/form.tsx
  client/app/components/ui/input.tsx
  client/app/components/ui/label.tsx
  client/app/components/ui/popover.tsx
  client/app/components/ui/select.tsx
  client/app/components/ui/separator.tsx
  client/app/components/ui/sheet.tsx
  client/app/components/ui/sidebar.tsx
  client/app/components/ui/skeleton.tsx
  client/app/components/ui/sonner.tsx
  client/app/components/ui/textarea.tsx
  client/app/components/ui/tooltip.tsx
  client/app/hooks/use-mobile.ts
  client/app/lib/utils.ts
  client/app/routes/home.tsx
  client/components.json
  client/package.json
  pnpm-lock.yaml
Due: pnpm client exec biome check --write

期限の表示を日本語の日付に
  client/app/components/TodoApp/TodoList.tsx
Due: pnpm client exec biome check --write

チェックボックスをクリックしたときにサーバーに反映させるように
  client/app/components/TodoApp/TodoList.tsx
  client/app/components/TodoApp/index.tsx
Due: pnpm client exec biome check --write

並び順のソート
  backend/src/items/dto/create-item.dto.ts
  backend/src/items/items.service.ts
  client/app/components/TodoApp/Modals/EditTask.tsx
  client/app/components/TodoApp/index.tsx
Due: pnpm backend exec prettier --write, pnpm backend exec eslint --fix, pnpm client exec biome check --write

作成時にタイトルが反映されないバグの修正
  client/app/components/TodoApp/Modals/EditTask.tsx
Due: pnpm client exec biome check --write

sidebarをコンポーネント分離
  client/app/components/TodoApp/AppSidebar.tsx
  client/app/components/TodoApp/index.tsx
  client/app/routes/home.tsx
  client/biome.json
  nestjs-react-todo.code-workspace
Due: pnpm client exec biome check --write

ほぼ完成
  client/app/components/TodoApp/Modals/EditTask.tsx
  client/app/components/TodoApp/TodoList.tsx
  client/app/components/TodoApp/TodoListItem.tsx
  client/app/components/TodoApp/core/types/index.ts
  client/app/components/TodoApp/index.tsx
  client/app/components/ui/alert.tsx
  client/app/components/ui/table.tsx
  client/app/routes/home.tsx
  client/app/services/TodoService.ts
Due: pnpm client exec biome check --write

アクセシビリティの問題を修正
  client/app/components/TodoApp/Modals/EditTask.tsx
  client/app/components/TodoApp/TodoListItem.tsx
Due: pnpm client exec biome check --write

コードの修正
  client/app/components/TodoApp/index.tsx
Due: pnpm client exec biome check --write

タスクがいつでもcreatedAtとdueDateで並び替えされるように
  client/app/components/TodoApp/TodoList.tsx
  client/app/components/TodoApp/core/Task.ts
  client/app/components/TodoApp/index.tsx
Due: pnpm client exec biome check --write

update pnpm version
  mise.toml
  package.json
Due: none

Path conditions:
  pnpm backend exec prettier --write: any of: backend/**/*.{ts,mjs,js,cjs,json,md}
  pnpm backend exec eslint --fix: any of: backend/**/*.{ts,mjs,js,cjs}
  pnpm client exec biome check --write: any of: client/**/*.{ts,tsx,js,jsx,mjs,cjs,json}
  pnpm backend exec prisma format: any of: backend/**/*.prisma
